{% extends 'accounts/main.html' %}

{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div class="row">
	<div class="col-sm-3">	
		<div class="card card-body">
			<h3>New Customer</h3><br>
			<form action="" method="POST">
				{% csrf_token %}
				<label>Company Name:</label>
				<p>{{form.name}}</p>
				<label>Main Contact:</label>
				<p>{{form.main_contact}}</p>
				<label>Email:</label>
				<p>{{form.main_email}}</p>
				<label>Phone:</label>
				<p>{{form.phone}}</p>
				<br>
				<input type="submit" class="btn btn-block btn-success" value="Create">
			</form>
		</div>
	</div>
  </div>
</main>

{% endblock %}