{%  extends 'accounts/main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<h5>Find Orders</h5>
			<hr>
			<form method="GET">
				{{ myFilter.form }}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>
</div>
<br>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Note</th>
					<th>Date Ordered</th>
					<th>Status</th>
				</tr>
				<h5>{{customer.name}}'s Orders</h5>
				{% for order in orders %}
				<tr>
					<td>{{order.product}}</td>
					<td>{{order.note}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-small btn-info" href="{% url 'update_order' order.id %}">Update</a></td>
					<td><a class="btn btn-small btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}